/*********************************
 LION UI STYLE Combo COMPONENTS 
*********************************/
/***
*ComboTree css
* lijun.wang1@newtouch.cn
*/
.required{
	font:12px;
	font-family:'Microsoft YaHeis';
	color:red;
}