<meta charset="utf-8"/>

<!--DataTable css Start-->
<link rel="stylesheet" type="text/css" href="../resources/global/plugins/select2/select2.css"/>
<link rel="stylesheet" type="text/css" href="../resources/global/plugins/datatables/plugins/bootstrap/dataTables.bootstrap.css"/>
<link rel="stylesheet" type="text/css" href="../resources/global/plugins/datatables/extensions/Scroller/css/dataTables.scroller.min.css"/>
<link rel="stylesheet" type="text/css" href="../resources/global/plugins/datatables/extensions/ColReorder/css/dataTables.colReorder.min.css"/>
<!--DataTable css End-->

<style>
    .page-list .pagination {float:left;}
    .page-list .pagination span {cursor: pointer;}
    .page-list .pagination .separate span{cursor: default; border-top:none;border-bottom:none;}
    .page-list .pagination .separate span:hover {background: none;}
    .page-list .page-total {float:left; margin: 25px 20px;}
    .page-list .page-total input, .page-list .page-total select{height: 26px; border: 1px solid #ddd;}
    .page-list .page-total input {width: 40px; padding-left:3px;}
    .page-list .page-total select {width: 50px;}
</style>
<!-- BEGIN PAGE BREADCRUMB -->
<ul class="page-breadcrumb breadcrumb">
	<li>
		<a href="#">首页</a><i class="fa fa-circle"></i>
	</li>
	<li>
		<a href="#">系统设置</a><i class="fa fa-circle"></i>
	</li>
	<li class="active"><span data-ng-bind="$state.current.data.pageTitle"></span></li>
</ul>
<!-- END PAGE BREADCRUMB -->

<!-- BEGIN PAGE CONTENT INNER -->
<div class="portlet light">
	<div class="portlet-body">
		<div class="row">
			<div class="col-md-12 margin-bottom-10">
				<form id="queryform" class="form-horizontal">
					<label class="control-label col-md-2" for="appId" >
						<!--<@spring.message "sys.applicationProperty.query.appId.text"/>-->
						AppId
					</label>
					<div class="col-md-3">
						<input class="form-control input-small" type="text" size="30" name="appId" id="appId"  placeholder="请输入appId"/>					
					</div>
					<label class="control-label col-md-2" for="value" >
						<!--<@spring.message "sys.applicationProperty.query.value.text"/>-->
						值
					</label>
					<div class="col-md-3">
						<input class="form-control input-small" type="text" size="30" name="value" id="value"  placeholder="请输入值"/>					
					</div>
					<div class="col-md-2">
						<a href="javascript:void(0)" id="btnQuery" class="btn blue">
							<i class="fa fa-search"></i> 
							<!--<@spring.message "common.query.btn.text"/>-->
							查询 
						</a>
					</div>
				</form>
			</div>
		
			<div class="col-md-12 margin-bottom-10" id="toolbar">
				<a id="btnAdd" class="btn btn-sm yellow" data-toggle="modal" data-target="#basic">
					<i class="fa fa-plus"></i> 
					<!--<@spring.message "common.toolbar.btn.add.text"/>  -->
					添加
				</a>
				<a id="btnEdit" class="btn btn-sm red">
					<i class="fa fa-edit"></i> 
					<!--<@spring.message "common.toolbar.btn.edit.text"/>-->
					编辑
				</a>
				<a id="btnDelete" class="btn btn-sm purple">
					<i class="fa fa-times"></i> 
					<!--<@spring.message "common.toolbar.btn.delete.text"/>-->
					删除 
				</a>
				<a id="btnRefresh" class="btn btn-sm blue">
					<i class="fa fa-refresh"></i> 
					<!--<@spring.message "common.toolbar.btn.reload.text"/>-->
					刷新   
				</a>
				<a id="btnExport"  class="btn btn-sm green">
					<i class="fa  fa-file-excel-o"></i> 
					<!--<@spring.message "common.toolbar.btn.export.text"/> -->
					Excel
				</a>
			</div>
			<div class="col-md-12">
				<table class="lion-datagrids table table-striped table-bordered table-hover dataTable" id="sample_1" data-checkbox="true">
					<thead>
						<tr>
							<th class="table-checkbox" data-field='id' data-checkbox="true">
							  <div class="checker">
							    <span>
						 		  <input type="checkbox" class="group-checkable" data-set="#sys_app_property_list_tb.checkboxes"  data-sortable="false" disabled/>
						 	    </span>
						 	  </div>
						 	</th>
							<th data-field='appId' data-sortDir="asc" style="width:60px;">
								AppId
							</th>
							<th data-field="key" style="width:60px;">
							 	Key
							</th>
							<th data-field="value" style="width:60px;">
								Value
							</th>
							<th data-field="description" style="width:60px;">
								Desctiption
							</th>		
							<th data-field="createdDate" style="width:100px;">
								创建时间
							</th>
							<th data-field="updatedDate" style="width:100px;">
								更新时间
							</th>					
						</tr>
					</thead>
					<tbody>
					    <tr ng-repeat="v in names">
					        <td>
					          <div class="checker"> 	
						         <span ng-class="{'checked':check.active}" ng-click="check.active = !check.active">
							 	   <input type="checkbox" id="{{v.id}}">
							 	 </span>
						 	  </div>
					        </td>
					        <td>{{ v.appid }}</td>
					        <td>{{ v.key }}</td>
					        <td>{{ v.value }}</td>
					        <td>{{ v.decription }}</td>
					        <td>{{ v.createtime }}</td>
					        <td>{{ v.endtime }}</td>
					    </tr>
					</tbody>
				</table>
				
				<!-- 分页 -->
				<!--<pagination boundary-links="true" total-items="totalItems" ng-model="currentPage" class="pagination-sm" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></pagination>-->
				<!--<tm-pagination conf="paginationConf"></tm-pagination>-->
				
			</div>
		</div>
	</div>
</div>
<!-- END PAGE CONTENT INNER -->
<!--Edit Dialog Start -->
<div class="modal fade" id="basic" tabindex="-1" role="basic" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
				<h4 class="modal-title">
					<i class="fa fa-plus"></i> 
					<span>
						<!--<@spring.message "sys.applicationProperty.form.adddialog.text"/>-->
						添加项目属性配置
					</span>
				</h4>
			</div>
			<div class="modal-body">
				 	<div class="row">
				 	<div class="col-md-12 portlet-body form">
				 		<!-- BEGIN FORM-->
							<form action="#" class="form-horizontal" name="sysAppPropertyForm" id="sysAppPropertyForm" method="post">
								<input type="hidden" id='id' name='id' value="">
								<div class="form-body">
									<div class="form-group">
										<label class="col-md-3 control-label">
											<!--<@spring.message "sys.applicationProperty.form.appId.text"/>-->
											AppId
										</label>
										<div class="col-md-5">
											<input type="text"  name="appId"  maxlength="100" class="form-control" placeholder="请输入appId" size="30"/>
										</div>
									</div>
									<div class="form-group">
										<label class="col-md-3 control-label">
											<!--<@spring.message "sys.applicationProperty.form.key.text"/>-->
											键
										</label>
										<div class="col-md-5">
											<div class="input-group">
												<input type="text"  name="key"  maxlength="100" class="form-control" placeholder="请输入键" size="30"/>
											</div>
										</div>
									</div>
									<div class="form-group">
										<label class="col-md-3 control-label">
											<!--<@spring.message "sys.applicationProperty.form.value.text"/>-->
											值
										</label>
										<div class="col-md-5">
											<div class="input-group">
												<input type="text"  id="value" name="value" maxlength="100" class="form-control" placeholder="请输入值" size="30"/>
											</div>
										</div>
									</div>
									<div class="form-group">
										<label class="col-md-3 control-label">
											<!--<@spring.message "sys.applicationProperty.form.description.text"/>-->
										    描述
										</label>
										<div class="col-md-5">
											<div class="input-group ">															 
												<input type="text" class="form-control" name="description" placeholder="请输入描述" maxlength="255" size="40"/>
											</div>
										</div>
									</div>
								</div>
							</form>
							<!-- END FORM-->
							</div>
				 	</div>
			</div>
			<div class="modal-footer">
				<button type="button" id="btnCancel" class="btn default" data-dismiss="modal">
					<i class="fa  fa-arrow-left"></i> 
					<!--<@spring.message "common.diaglog.btn.cancel"/>-->
					取消
				</button>
				<button type="button" id="btnSave" class="btn blue">
					<i class="fa fa-save"></i>
					<!--<@spring.message "common.diaglog.btn.save"/>-->
					保存
				</button>
			</div>
		</div>
		<!-- /.modal-content -->
	</div>
</div>
<!-- /.modal-dialog -->
<!--Edit Dialog End -->

<!-- DataTables js Start -->
<script type="text/javascript" src="../resources/global/plugins/select2/select2.min.js"></script>
<script type="text/javascript" src="../resources/global/plugins/datatables/all.min.js"></script>
<script type="text/javascript" src="js/scripts/table-advanced.js"></script>
<!--lion UI JS Start-->
<!--lang-->

<script>
$(function(){
   //$("input[type='checkbox']").uniform();
   $('#btnEdit').click(function(){
       $('#basic h4 span').html('编辑项目属性配置');
       $('#basic').modal('show');
   });
});
</script>
