<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.1.xsd">

	<bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
		<property name="dataSource" ref=dataSource />
		<property name="configLocation" value="classpath:mybatis-config.xml"/>
		<property name="mapperLocations">
				<list>
					<value>classpath*:persistence/BasDemoDao.xml</value>
				</list>
		</property>
	</bean>
	<!-- 创建BaseDDao -->
	<bean  id="mapperScannerConfigurer" class="org.mybatis.spring.mapper.MapperScannerConfigurer">
		<property name="basePackage"  value="com.newtouch.lion.dao.demo"/>
	</bean>
	
	<bean id="transactionManager"
		class="org.springframework.jdbc.datasource.DataSourceTransactionManager"
		p:dataSource-ref="dataSource" />

	<!-- <tx:annotation-driven transaction-manager="transactionManager" /> -->

	<aop:config>
		<aop:pointcut id="myPointCut"
			expression="execution(* com.newtouch.lion.service..*.*(..))" />
		<aop:advisor pointcut-ref="myPointCut" advice-ref="txAdvice" />
	</aop:config>

	<tx:advice id="txAdvice" transaction-manager="transactionManager">
		<tx:attributes>
			<tx:method name="get*" read-only="true" />
			<tx:method name="delete*" />
			<tx:method name="save*" read-only="true" />
			<tx:method name="update*" />
			<tx:method name="insert*" />
			<tx:method name="*" propagation="SUPPORTS" />
		</tx:attributes>
	</tx:advice>
</beans>
