<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:c="http://www.springframework.org/schema/c"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.2.xsd">
	<context:component-scan base-package="com.newtouch.lion.mgt" />
	<!-- 加载接口配置文件 -->
	<context:property-placeholder local-override="false" file-encoding="UTF-8" location="classpath:application-mgt.properties" />
	<!-- GitLab 管理 -->
	<bean id="gitLabService" class="com.newtouch.lion.mgt.gitlab.impl.GitLabServiceImpl">
		<property name="privateToken"  value="${private.token}"/>
		<property name="gitLabUrl"  value="${gitlaburl}"/>
	</bean>
	
		
</beans>
